.fir{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.326);
}
.outer{
    height: 400px;
    width: 400px;
    display: flex;
    color: green;
}
.inner{
    height: 100px;
    width: 100px;
    color: red;
}
.inner{
    height: 200px;
    width: 200px;
    color: blue;
}