*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head,body{
    height: 0;
    width: 0;

}

.only{
    height: 50px;
    width: 50px;
    background-color: red;
}
@media(min-width:400px){
    .only{
        background-color: green;
    }
}
@media(max-width:800px){
    .only{
        background-color: gray;
    }
}
.main{
    height: 400px;
    width: 1500px;
    background-color: rgb(226, 146, 49);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* align-content: baseline ; */
}
.one{
    height: 200px;
    width:200px ;
    background-color: rgb(182, 49, 226);
}
.two{
    height: 150px;
    width:200px ;
    background-color: rgb(79, 49, 226);
}
.three{
    height: 100px;
    width:200px ;
    background-color: rgb(49, 185, 226);
}
.four{
    height: 50px;
    width:200px ;
    background-color: rgb(226, 226, 49);
}
.five{
    height: 25px;
    width:200px ;
    background-color: rgb(226, 49, 61);
}
.six{
    height: 200px;
    width:200px ;
    background-color: rgb(182, 49, 226);
}
.seven{
    height: 150px;
    width:200px ;
    background-color: rgb(79, 49, 226);
}
.eight{
    height: 100px;
    width: 200px ;
    background-color: rgb(49, 185, 226);
}
.nine{
    height: 50px;
    width:200px ;
    background-color: rgb(226, 226, 49);
}
.ten{
    height: 25px;
    width:200px ;
    background-color: rgb(226, 49, 61);
}