*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 244, 201);
}
.panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 0.6rem;
    overflow: hidden;
}

.ptop{
    height: 5rem;
    width: 100%;
    background-color: rgb(40, 99, 53);
    display: flex;
    color: #fffbfb;
}
.count{
    height: 1rem;
    width: 1rem;;
    background-color: #fff;
}

