*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 244, 201);
}

.panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 0.6rem;
    overflow: hidden;
}

.ptop{
    height: 5rem;
    width: 100%;
    padding: 0rem 20rem;
    background-color: rgb(55, 145, 73);
    display: flex;
    color: #fffbfb;
    justify-content: space-around;
    align-items: center;
}

.elem{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.count{
    margin-left: 0.3rem;
    padding: 0.3rem 0.6rem;
    background-color: #fff;
    color: rgb(9, 78, 0);;
    border-radius: 0.2rem;
    font-weight: 600;
}

.pbtm{
    height: calc(100% - 5rem);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    pointer-events: none
}
 
.bubble{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(10, 159, 67);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;

}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(46, 104, 46);
}